In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("../data/german_credit_data.csv")

In [3]:
# Drop unnecessary column
df.drop("Unnamed: 0", axis=1, inplace=True)

In [4]:
# Convert target variable
df["Risk"] = df["Risk"].map({"good": 0, "bad": 1})

In [5]:
# One-hot encoding
df = pd.get_dummies(df, drop_first=True)

In [7]:
# Split features and target
X = df.drop("Risk", axis=1)
y = df["Risk"]

In [8]:
# Check shapes
print("Features shape:", X.shape)
print("Target shape:", y.shape)

Features shape: (1000, 19)
Target shape: (1000,)

In [9]:
# Preview data
df.head()

,Age,Job,Credit amount,Duration,Risk,Sex_male,Housing_own,Housing_rent,Saving accounts_moderate,Saving accounts_quite rich,Saving accounts_rich,Checking account_moderate,Checking account_rich,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,67,2,1169,6,0,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False
1,22,2,5951,48,1,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False
2,49,1,2096,12,0,True,True,False,False,False,False,False,False,False,False,True,False,False,False,False
3,45,2,7882,42,0,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4,53,2,4870,24,1,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False